h1{
  color:white;
  background-color:black;
  margin:auto;
  text-align:center;
}

    .container{
        font-size: 2em;
        background-color: black;
        margin: auto;
    }

    .ac{
      width: 75%;
    }
    .zero{
      width:50%;

    }
    .disp{
      width: 100%;
    }

    button {
        width: 25%;
        height: 100%;
        background-color: white;
        border: solid black;
        color:black;
    }
    #inputLabel {

        font-size: 2em;
        vertical-align: bottom;
        text-align: right;
        background-color: #ececec;
    }
