body{
  font-family:'Ranga', cursive;
  background-color: cyan;
}


li {list-style-type: none;
     background:white;
     border-radius: 10px;}


input{
  background:white;
}

.result{
  margin :3px;

}

ul{
  padding-left: 0px;

}
